[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/exprtk"]
	path = external/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "src/solver"]
	path = src/solver
	url = https://gitlab.com/hslu_ccfnum/liblinsolve.git
[submodule "external/gplotpp"]
	path = external/gplotpp
	url = https://github.com/ziotom78/gplotpp
