# Build
build*/
examples/
*.o
*.exe
CMakeCache.txt
CMakeFiles/
*.txt*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Claude
.claude/

# Tools
*.bib
*.bib.clean
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf

