[submodule "src/solver"]
	path = src/solver
	url = https://github.com/CCFNUM/LibLinSolve.git
	branch = main
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigen/eigen.git
[submodule "external/exprtk"]
	path = external/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "external/gplotpp"]
	path = external/gplotpp
	url = https://github.com/ziotom78/gplotpp
